/*--- Avatar ---*/

.avatar {
    background-image: $avatar-default;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: auto;
    margin-top: -8px;
}

.rounded-circle{
    border-radius: 50%;  
}

