/* -- Formularios --*/


form {
    margin: 2em 0;
    padding-top: 20px;
    // max-width: 600px;

    @include tab {

        padding: 20px;
    }

    @include mob {
        padding: 20px;
        width: 100%;
        max-width: 100%;
        padding-top: 20px;
    }

    @include larg {
        max-width: 1200px;

    }

    @include desk-large {
        max-width: 1200px;

    }

}

.f-control {
    margin-bottom: 1em;
}

.helptext {
    font-size: $fuente-pequena;
}




fieldset {
    padding: 1em 1em 1em 0;
    margin-right: 2em;
    border: 0;
    border-bottom: 1px solid $marca-bg;

    @include tab {
        padding: 10px;
        margin-right: 0;
    }

    @include mob {
        padding-left: 20px;
        margin-right: 0;
    }
}


legend {
    font-weight: $fuente-bold;
    text-transform: $fuente-mayusculas;
    font-size: 16px;
    margin-bottom: 1em;
}


input,
select {
    font-family: $fuente-primaria;
    font-weight: $fuente-light;
    padding: 1em 10px;
    border: 1px solid $marca-bg;
    border-radius: 4px;
    // width: calc(100% - 2em);
    width: 100%;
    color: $textos;
    transition: ease-in-out, width .35s ease-in-out;
    outline: none;
}


input:focus {
    box-shadow: 0px 4px 10px $marca-bg;
    border-color: $marca-hover;
}


input.error {
    color: $error;
    border-color: $error;
}


::placeholder {
    color: $neutral-hover;
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: $neutral;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 1px;

    .box_titulo {
        margin-bottom: -4px;
    }
    .label_box{
        font-size: $fuente-pequena;
    }
}


.text_help {
    font-size: $fuente-extrapequena;
    &.error {
        color: $texto-error;
    }
}

.input_box {
    display: flex;
    position: relative;
    width: 100%;
    &.disable input{
        color:$neutral-bg;
        pointer-events: none;
        border-color: $neutral-bg;
        background-color: $neutral-bg;
    }
    input {
        width: 100%;
        padding-right: 35px;
    
    }

    .input_icon {
        background-color: $neutral-bg;
        color: $skeleton-load;
        margin-left: 20px;
        position: absolute;
        padding: 8px 4px;
        height: 100%;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        box-shadow: 0px 2px 10px $marca-bg;
        border-color: $marca-hover;

        &.active {
            background-color: $marca-hover; 
            color: $blanco;
            cursor: pointer;
    }
 
    
}





textarea {
    font-family: $fuente-primaria;
    font-weight: $fuente-light;
    padding: 12px 8px;
    border: 1px solid $marca-bg;
    border-radius: 4px;
    display: block;
    width: 100%;
    color: $textos;
    transition: ease-in-out, width .35s ease-in-out;
    outline: none;
}

/*--- checkboxes ---*/


/*
Checkbox
Permite al usuario elegir entre una o m치s opciones*/

.checkbox label {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 16px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 32px;
    align-self: center;
}

.checkbox.horizontal {
    display: inline-block;

}

.checkbox label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox label span {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 20px;
    width: 20px;
    border: 4px solid $neutral-bg;
    border-radius: 2px;
    background-color: $blanco;
}

.checkbox label:hover input~span {
    background-color: $neutral-bg;
}

.checkbox label input:checked~span {
    background-color: $marca;
    border-color: $marca;
}

.checkbox span:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox label input:checked~span:after {
    display: block;
}

.checkbox label span:after {
    left: 2px;
    top: -2px;
    width: 5px;
    height: 10px;
    border: solid $textos-inv;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*-- radio button --*/


.radio label {
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 16px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 24px;
    align-self: center;
}

.radio.horizontal {
    display: inline-block;

}

.radio label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio label span {
    position: absolute;
    top: 0px;
    left: 0;
    height: 22px;
    width: 22px;
    border: 4px solid $neutral-bg;
    border-radius: 12px;
    background-color: $blanco;
}

.radio label:hover input~span {
    background-color: $neutral-bg;
}

.radio label input:checked~span {
    background-color: $blanco;
    border-color: $marca;
}

.radio span:after {
    content: "";
    position: absolute;
    display: none;
}

.radio label input:checked~span:after {
    display: block;
}

.radio label span:after {
    left: 2px;
    top: 2px;
    width: 4px;
    height: 4px;
    background: $marca;
    border: solid $marca;
    border-width: 3px;
    border-radius: 8px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*--- range --*/

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    border: 0;
}

input[type="range"]:focus {
    outline: none;
    box-shadow: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
input[type="range"]::-webkit-slider-runnable-track {
    background-color: $neutral-bg;
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -6px;

    background-color: $marca;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 14px;
}

input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid $marca-hover;
    outline: 2px solid $marca-hover;
    outline-offset: 0.125rem;
}

/******** Firefox styles ********/

input[type="range"]::-moz-range-track {
    background-color: $marca;
    border-radius: 0.5rem;
    height: 0.5rem;
}

input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0;

    background-color: $neutral-bg;
    height: 2rem;
    width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid $marca-hover;
    outline: 2px solid $marca-hover;
    outline-offset: 0.125rem;
}



/*-- select ---*/


/* The container must be positioned relative: */

select option {
    padding: 1em !important;
    margin: 1em;
    line-height: 2em;
    font-weight: $fuente-light;
}


input.search {
    background-image: url(../img/iconos/buscar.svg);
    background-repeat: no-repeat;
    background-position: 8px center;
    padding-left: 40px;
}




/*-- input flie  Dropzone --*/

.dropzone {
    border: 1px dotted $acento;
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    transition: 0.25s background-color ease-in-out;
    cursor: pointer;
    margin-bottom: 1em;

    &-dragging,
    &:hover {
        background-color: $acento-bg;
    }

    &-icon {
        max-width: 75px;
        display: block;
        margin: 0 auto 1.5rem;
    }

    &-input {
        display: none;
    }
}


.file-upload {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2em 0;
    padding-bottom: 1em;
    border-bottom: 1px solid $textos-bg;


    & .tipo {

        background-color: $textos-bg;
        padding: 1rem;
        border-radius: 0.5em;
        font-weight: $fuente-bold;
        margin-right: 1em;
    }

    & .nombre {
        flex-grow: 3;
    }

    & .select {
        flex-grow: 2;
    }

}




/*--- Estilos para secciones con edici칩n, Administrador de perfiles--*/

/* -- Encabezados -- */

.concepto {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 1em;
    border-bottom: 1px solid $neutral-bg;
}


// Espacio para colocar los textos
.concepto .descripcion {
    flex-grow: 3;
}


.concepto h5 {
    margin-bottom: 0.1em;
}

.concepto .descripcion p {
    color: $textos;
}



// Espacio para colocar las acciones
.concepto .acciones {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}




//// permisos ---------


form.permisos {
    min-width: 100%;
}


form.permisos input[type=text],
form.permisos textarea {
    max-width: 600px;
    display: block;
}



form.permisos .concepto {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 1em 0 0.5em 0;
    border-bottom: 1px solid $neutral-bg;

    font-size: $fuente-mediana;
}


// Espacio para colocar los textos
form.permisos .concepto .descripcion {
    width: 400px !important;

    flex-grow: 0;

}



form.permisos .concepto .descripcion p {
    color: $textos;
    font-weight: $fuente-normal;
}



// Espacio para colocar las acciones
form.permisos .concepto .acciones {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

form.permisos .concepto .acciones .f-control {
    margin-bottom: 0em;
}

}


.icon-item {
    left: 68px;
    top: 54.4%;
    border-radius: 50px;
    color: $marca-hover;
    position: absolute;
    font-size: $fuente-grande;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
    border-color: none;
}

.transaction-item {
    animation: borderAnima 2s ease-out;
    position: relative; 
}

.transaction-item.active .icon-item {
    opacity: 1; 
}

@keyframes borderAnima {
    0% {
        background-color: transparent;
        transform: scale(1);
    }
    50% {
        background-color: $marca-bg;
        transform: scale(1.02); 
    }
    100% {
        background-color: transparent;
        transform: scale(1);
    }
}

@keyframes exitAnimation {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5; // Reduce la opacidad a la mitad
        transform: scale(1.02); // Escala un poco el elemento
    }
    100% {
        opacity: 0;
        transform: scale(0.95); // Reduce el tama침o del elemento
    }
}

.transaction-item.exit {
    animation: exitAnimation 1.08s ease-out forwards; // Aplica la animaci칩n y mantiene el estado final
}
//BUSCADOR MERCHANT
.buscador {
    display: flex;
    margin: 6px;
    .fecha{
        padding-right: 60px;
    }
  }
  
  .buscador-wrapper {
    display: flex;
    align-items: center;
    background: $blanco;
    border: 1px solid $skeleton-load;
    border-radius: 5px;
    overflow: hidden;
    position: relative; /* Agregado para los estilos adicionales */
  }
  
  .buscador-select {
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 160px;
    background-color: $pagina;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    
    max-height: 150px; 
    overflow-y: auto; 
    box-sizing: border-box; 
  }
  
  .buscador-select option {
    white-space: nowrap; 
  }
  
  .buscador input {
    border: none;
    padding: 10px;
    font-size: 16px;
    flex: 1;
    width: 400px;
    min-width: 0;
    overflow: hidden;
  }
  
  .buscador button {
    border: none;
    background: $marca;
    color: $blanco;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .buscador .ico-buscar {
    margin-right: 8px;
  }
  
  //boton animado guardado
